body {
  margin: 0;
  background-color: #000;
  overflow: hidden;
}

#starfield {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  font-family: 'Retro Font', sans-serif;
  font-size: 72px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 40px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.quote {
  font-size: 24px;
  color: #fff;
  text-align: center;
  max-width: 600px;
  line-height: 1.5;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes blink {
0% {
  opacity: 0.666;
}
50% {
  opacity: 1;
}
100% {
  opacity: 0.666;
}
}

.blinking {
  animation: blink 0.666s infinite;
}